:root {
  --md-text-font: 'Roboto Mono', 'LXGW WenKai Screen';
  --md-code-font: 'Hack';
}

/* body,
input {
  font-family: 'LXGW WenKai Screen', 'Noto Serif SC', serif, 'Lexend', 'Noto Sans SC', 'Source Code Pro', -apple-system, Helvetica, Arial, sans-serif;
} */